@model Lab2DataModel

@{
	ViewData["Title"] = "lab2";
}

<h1>@ViewData["Title"]</h1>
<text> &nbsp; &nbsp; &nbsp;</text>
<h2>Out: "NO" if it is possible to say for sure that Vasya made a mistake, and "YES" if he could not have made a mistake.</h2>

<text> &nbsp; &nbsp; &nbsp;</text>

<form method="post" enctype="multipart/form-data" asp-controller="Labs" asp-action="Lab2">
	<div class="form-group">
		<label for="psize">First line</label>
		<input type="text" class="form-control" id="inputed" asp-for="FirstLine">
	</div>
	<div class="form-group">
		<label for="psize">Second line</label>
		<input type="text" class="form-control" id="inputed" asp-for="SecondLine">
	</div>
	<button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<text> &nbsp; &nbsp; &nbsp;</text>
<text> &nbsp; &nbsp; &nbsp;</text>

@if (Model != null)
{
	<div class="container mt5">
		<div class="form-group">
			<h2 class="control-label">Out: @(Model != null ? Model.Calculated : string.Empty)</h2>
		</div>
		@if (Model != null && !string.IsNullOrEmpty(Model.ErrorValue))
		{
			<div class="row">
				<label for="perror"></label>
				<input type="text" id="perror" value="@Model.ErrorValue">
			</div>
		}
	</div>
}